<div class="wholePage">
    <app-header></app-header>

    <div class="back" style="width: fit-content; margin-top: 5px;" (click)="goToAccount()">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
      </svg>
    </div>

    <div class="content" style="padding-left: 30px; padding-right: 30px; height: 94vh; text-align: center;">

      <p style="text-align: center; font-size: 20px; margin-top: 4vh; margin-bottom: 6vh;" *ngIf="language=='de'">Wähle einen App-Hintergrund aus:</p>
      <p style="text-align: center; font-size: 20px; margin-top: 4vh; margin-bottom: 6vh;" *ngIf="language=='en'">Select a Background:</p>

      <span *ngIf="blueBGselected==true">
      <img
      src="../../assets/images/app-bg-new-selected.png"
      width="90vw"
      height="160vw"
      style="border-radius: 5%; margin-right: 8px;"
    />
  </span>
  <span *ngIf="blueBGselected==false">
    <img
    (click)="toggleBlue()"
    src="../../assets/images/app-bg-new.png"
    width="90vw"
    height="160vw"
    style="border-radius: 5%; margin-right: 8px;"
  />
</span>
    <span *ngIf="blackBGselected==true">
    <img
      src="../../assets/images/app-bg-black-selected.png"
      width="90vw"
      height="160vw"
      style="border-radius: 5%; margin-right: 8px; margin-left: 8px;"
    />
    </span>
    <span *ngIf="blackBGselected==false">
      <img
      (click)="toggleBlack()"
        src="../../assets/images/app-bg-black.png"
        width="90vw"
        height="160vw"
        style="border-radius: 5%; margin-right: 8px; margin-left: 8px;"
      />
      </span>
    <span *ngIf="orangeBGselected==true">
    <img
      src="../../assets/images/app-bg-orange-selected.png"
      width="90vw"
      height="160vw"
      style="border-radius: 5%; margin-left: 8px;"
    />
  </span>
  <span *ngIf="orangeBGselected==false">
    <img
    (click)="toggleOrange()"
      src="../../assets/images/app-bg-orange.png"
      width="90vw"
      height="160vw"
      style="border-radius: 5%; margin-left: 8px;"
    />
  </span>

    <div style="margin-top: 3px; margin-bottom: 20px;" *ngIf="language=='de'">
    <span style="margin-right: 18px;">Kostenlos</span>
    <span style="margin-right: 18px; margin-left: 18px;">Kostenlos</span>
    <span style="margin-left: 18px;">Kostenlos</span>
    </div>

    <div style="margin-top: 3px; margin-bottom: 20px;" *ngIf="language=='en'">
      <span style="margin-right: 38px;">Free</span>
      <span style="margin-right: 38px; margin-left: 38px;">Free</span>
      <span style="margin-left: 38px;">Free</span>
      </div>

      <span *ngIf="schalkeBGselected==true">
    <img
      src="../../assets/images/app-bg-schalke-selected.png"
      width="90vw"
      height="160vw"
      style="border-radius: 5%; margin-right: 8px;"
    />
  </span>
  <span *ngIf="schalkeBGselected==false">
    <img
    (click)="toggleSchalke()"
      src="../../assets/images/app-bg-schalke.png"
      width="90vw"
      height="160vw"
      style="border-radius: 5%; margin-right: 8px;"
    />
  </span>
  <span *ngIf="dortmundBGselected==true">
    <img
      src="../../assets/images/app-bg-dortmund-selected.png"
      width="90vw"
      height="160vw"
      style="border-radius: 5%; margin-right: 8px; margin-left: 8px;"
    />
  </span>
  <span *ngIf="dortmundBGselected==false">
    <img
    (click)="toggleDortmund()"
      src="../../assets/images/app-bg-dortmund.png"
      width="90vw"
      height="160vw"
      style="border-radius: 5%; margin-right: 8px; margin-left: 8px;"
    />
  </span>
  <span *ngIf="bayernBGselected==true">
    <img
      src="../../assets/images/app-bg-bayern-selected.png"
      width="90vw"
      height="160vw"
      style="border-radius: 5%; margin-left: 8px;"
    />
  </span>
  <span *ngIf="bayernBGselected==false">
    <img
    (click)="toggleBayern()"
      src="../../assets/images/app-bg-bayern.png"
      width="90vw"
      height="160vw"
      style="border-radius: 5%; margin-left: 8px;"
    />
  </span>

    <div style="margin-top: 3px; margin-bottom: 20px;">
      <span style="margin-right: 34px;">1,99€</span>
      <span style="margin-right: 34px; margin-left: 34px;">1,99€</span>
      <span style="margin-left: 34px;">1,99€</span>
      </div>

      <div style="margin-left: auto; margin-right: auto; margin-top: 5vh; width: fit-content">
        <button style="height: 35px; width: 49vw; border-radius: 10px;" *ngIf="language=='de'">Speichern</button>
<button style="height: 35px; width: 49vw; border-radius: 10px;" *ngIf="language=='en'">Save</button>
        </div>
    
      <div class="menu">
        <button (click)="goToMenu()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
          </svg>
        </button>
        <button (click)="goToLocation()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
          </svg>
        </button>
        <button (click)="goToBMI()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-standing" viewBox="0 0 16 16">
            <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M6 6.75v8.5a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H7a3 3 0 0 0-3 3v2.75a.75.75 0 0 0 1.5 0v-2.5a.25.25 0 0 1 .5 0"/>
          </svg>
        </button>
        <button (click)="goToTimer()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-stopwatch-fill" viewBox="0 0 16 16">
            <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584l.013-.012.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354-.012.012A6.97 6.97 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0"/>
          </svg>
        </button>
      </div>
    
  </div>
  </div>
  