<div class="wholePage">
    <div class="content">
    <div class="spaceholder" style="height: 10vh"></div>
    <div style="text-align: center; font-size: 24px; font-weight: bold;">Login</div>
    <div class="spaceholder" style="height: 10vh"></div>

    <div class="email" style="margin-top: 5vh;">
        <label style="margin-top: 20px; font-size: 20px;" for="email">E-Mail:</label>
        <input style="margin-top: 20px; height: 26px; border-radius: 10px; position: relative; float: right; margin-top: -5px; width: 45%" type="email" name="email" ngModel>
      </div>
      <div class="password" style="margin-top: 5vh;">
        <label style="margin-top: 20px; font-size: 20px;" for="password">Passwort:</label>
        <input style="margin-top: 20px; height: 26px; border-radius: 10px; position: relative; float: right; margin-top: -5px; width: 45%" type="passwort" name="password" ngModel>
      </div>
      <div class="spaceholder" style="height: 10vh"></div>
      <button type="submit"
          style="height: 35px; width: 100%; border-radius: 10px; margin-top: 3vh;" >Login
        </button>
        <div class="spaceholder" style="height: 15vh"></div>
        <div style="text-align: center; font-size: 16px;">Du hast noch keinen Account?</div>
    <button type="submit" (click)="goToHome()"
          style="height: 35px; width: 100%; border-radius: 10px; margin-top: 3vh" >Registrieren
        </button>



    </div>
</div>
