<div class="wholePage">

  <header class="header" style="text-align: center; height: 6vh">
    <div class="left"><span> <img src="../../assets/images/hswormslogowhite.png" style="height: 4vh; float: left; margin-left: 10px; margin-top: 1vh; margin-bottom: 1vh;"> </span></div>
    <div class="middle" style="color: white; font-size: 2.5vh; margin-top: 1.5vh;">Fitness App Worms</div>
    <div class="right">
      <div class="settingsIcon" style="margin-top: 1.2vh; float: right; margin-right: 10px;">
      </div>
  </div>
</header>
  
    <div class="content">
    <div class="spaceholder" style="height: 10vh"></div>
    <div style="text-align: center; font-size: 24px; font-weight: bold;">Login</div>
    <div class="spaceholder" style="height: 10vh"></div>

    <div class="email" style="margin-top: 5vh;">
        <label style="margin-top: 20px; font-size: 20px;" for="email">E-Mail:</label>
        <input style="margin-top: 20px; height: 26px; border-radius: 10px; position: relative; float: right; margin-top: -5px; width: 45%" type="email" name="email" ngModel>
      </div>
      <div class="password" style="margin-top: 5vh;">
        <label style="margin-top: 20px; font-size: 20px;" for="password">Passwort:</label>
        <input style="margin-top: 20px; height: 26px; border-radius: 10px; position: relative; float: right; margin-top: -5px; width: 45%" type="passwort" name="password" ngModel>
      </div>
      <div class="spaceholder" style="height: 10vh"></div>
      <button type="submit" (click)="goToMenu()"
          style="height: 35px; width: 100%; border-radius: 10px; margin-top: 3vh;" >Login
        </button>
        <div class="spaceholder" style="height: 15vh"></div>
        <div style="text-align: center; font-size: 16px;">Du hast noch keinen Account?</div>
    <button type="submit" (click)="goToHome()"
          style="height: 35px; width: 100%; border-radius: 10px; margin-top: 3vh" >Registrieren
        </button>



    </div>
</div>
