.wholePage{
    //background-color: blue !important;
    background-image: url(/assets/images/app-bg-new.png);
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
  }

  .content{
    padding: 30px !important;
  }

  .header{
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: hsla(203, 94%, 20%, 0.9);
}