<div class="wholePage">
    <div style="text-align: center; font-size: 24px;">Anmelden</div>

    <div class="email" style="margin-top: 5vh;">
        <label style="margin-top: 20px; font-size: 20px;" for="email">E-Mail:</label>
        <input style="margin-top: 20px; height: 26px; border-radius: 10px; position: relative; float: right; margin-top: -5px; width: 45%" type="email" name="email" ngModel>
      </div>
      <div class="password" style="margin-top: 5vh;">
        <label style="margin-top: 20px; font-size: 20px;" for="password">Passwort:</label>
        <input style="margin-top: 20px; height: 26px; border-radius: 10px; position: relative; float: right; margin-top: -5px; width: 45%" type="passwort" name="password" ngModel>
      </div>
      
</div>
