.wholePage{
    //background-color: blue !important;
    background-image: url(/assets/images/app-bg-new.png);
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
  
  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #478ab8;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .menu button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: hsla(203, 94%, 20%, 0.9);
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .menu button:hover {
    background-color: rgb(1, 39, 62);
  }
 
  /* Add border to the entire table */
table {
  border-collapse: collapse; /* Collapse borders to avoid double borders */
}

/* Add border to table rows and cells */
tr {
  border-bottom: 1px solid #ddd; /* Add bottom border to each row */
}

td {
  border-right: 1px solid #ddd; /* Add right border to each cell */
  padding: 8px; /* Add some padding for better appearance */
  border-left: 1px solid #ddd; /* Add left border to the table */
  border-right: 1px solid #ddd; /* Add right border to the table */
}

.avatar {
  display: block; /* Ensures the image is displayed as a block element */
  margin: 0 auto; /* Centers the image horizontally */
  width: 200px; /* Adjust the width to your desired size */
  height: auto; /* Automatically adjusts the height while maintaining the aspect ratio */
}




