.wholePage{
    //background-color: blue !important;
    background-image: url(/assets/images/app-bg-new.png);
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: auto; /* Change overflow to auto to enable scrolling */
  }
  
  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #478ab8;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .menu button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: hsla(203, 94%, 20%, 0.9);
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .menu button:hover {
    background-color: rgb(1, 39, 62);
  }

  