.wholePage{
    //background-color: blue !important;
    background-image: url(/assets/images/app-bg-new.png);
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }

  .selected {
    background-color: hsla(203, 94%, 20%);;
    color: white; // Change text color to maintain visibility
  }
  
  .flags {
    display: flex;
    justify-content: center; /* Horizontally center the flags */
    align-items: center; /* Vertically center the flags */
    margin-top: 2px;
  }
  
  .german,
  .english {
    border-radius: 3%;
    margin-right: 20px;
  }
  
  .english {
    margin-left: 20px;
  }

  .blue-bg {
    background-image: url(/assets/images/app-bg-new.png);
    background-size: 100% 100%;
  }

  .black-bg {
    background-image: url(/assets/images/app-bg-black.png);
    background-size: 100% 100%;
  }

  .orange-bg {
    background-image: url(/assets/images/app-bg-orange.png);
    background-size: 100% 100%;
  }
  
  /* Apply Schalke background if schalkeBGselected is true */
  .schalke-bg {
    background-image: url(/assets/images/app-bg-schalke.png);
    background-size: 100% 100%;
  }
  
  /* Apply Dortmund background if dortmundBGselected is true */
  .dortmund-bg {
    background-image: url(/assets/images/app-bg-dortmund.png);
    background-size: 100% 100%;
  }
  
  /* Apply Bayern background if bayernBGselected is true */
  .bayern-bg {
    background-image: url(/assets/images/app-bg-bayern.png);
    background-size: 100% 100%;
  }
