.wholePage{
    //background-color: blue !important;
    background-image: url(/assets/images/app-bg.png);
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
  }

  .selected {
    background-color: hsla(203, 94%, 20%);;
    color: white; // Change text color to maintain visibility
  }
  

