.wholePage{
    background-image: url(/assets/images/app-bg-new.png);
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }

  //test1

  .selected {
    background-color: hsla(203, 94%, 20%);;
    color: white; 
  }
  
  .flags {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 2px;
  }
  
  .german,
  .english {
    border-radius: 3%;
    margin-right: 20px;
  }
  
  .english {
    margin-left: 20px;
  }

  .blue-bg {
    background-image: url(/assets/images/app-bg-new.png);
    background-size: 100% 100%;
  }

  .black-bg {
    background-image: url(/assets/images/app-bg-black.png);
    background-size: 100% 100%;
  }

  .orange-bg {
    background-image: url(/assets/images/app-bg-orange.png);
    background-size: 100% 100%;
  }
  
  .schalke-bg {
    background-image: url(/assets/images/app-bg-schalke.png);
    background-size: 100% 100%;
  }
  
  .dortmund-bg {
    background-image: url(/assets/images/app-bg-dortmund.png);
    background-size: 100% 100%;
  }
  
  .bayern-bg {
    background-image: url(/assets/images/app-bg-bayern.png);
    background-size: 100% 100%;
  }
